// This is an empty scss file for your custom styles - Please add your super duper awesome mega design styles here

@import url('https://fonts.googleapis.com/css?family=Open+Sans|Sanchez&display=swap');

body {
    font-family: 'Open Sans', Helvetica, Arial, sans-serif;

}

a {
    color: $secondary;
}

h1, h2, h3, h4, h5, h6 { 
    font-family: 'Sanchez', 'Times New Roman', Times, serif;
    font-weight: 600;
}

#menu-item-144 {
    border: 1px solid rgba(255,255,255,1);
    background-color: transparent;
    font-weight: 800;
    color: rgba(255,255,255,0.5);
    transition: all 0.25s ease-in-out;

    &:hover {
        background-color: rgba(255,255,255,0.9);
        
        
        a {
            color: $secondary;
        }
    }
}

.widget {
    margin-bottom: 45px;
    border: 1px solid black;
    padding: 15px;
    border-bottom: 2px solid black;
}

.user-message {
    padding: 25px;

    &.logged-in {
       text-align: center;
    }
    
    #acct-cta {
        text-align: center;

        a {
            font-size: 24px;
        }
    }
}



.logged-out {
    background-color: rgba(205,92,92,0.25);
    text-align: left;
}

// Bump the main container up in to the hero only on the landing page
.home-only {
    margin-top: -100px;
    background-color: #fff !important;
}

.site-main {
    .search {
        padding-top: 25px;
    }
}

#searchform {
    #s {
        line-height: 36px;
        font-size: 38px;
    }

    #searchsubmit {
        font-size: 28px;
    }
    
}

.headline {

    a {
        color: $primary !important;
    }

}

.categories {
    padding: 25px;
}

.cat-block, .new-request {
    .well {
        padding: 10px;
        height: 100%;
    }
}

.cat-block {
    .well {
        span {
            display: block;
        }
    }
}

.bg-primary {
    background-color: $primary;
}

table {border:0; border-collapse:separate; border-spacing:0 5px;}
thead tr th{border-bottom: 1px solid black; border-collapse:separate; border-spacing:5px 5px;}

#user-community-ads table {
    text-align:left;
    font-size:16px;
}

#request-item-btn {
    background-color: $secondary;
    color: #fff;
    padding: 5px 10px;
}

#wrapper-footer-full {
    background-color: #404041;

    p {
        color: #fff;
    }
}