// This is an empty scss file for your custom styles - Please add your super duper awesome mega design styles here

@import url('https://fonts.googleapis.com/css?family=Open+Sans|Sanchez&display=swap');

// Hide the menu on the terms agreement page
.page-id-206 {
    .navbar {
        display: none;
    }
}

body {
    font-family: 'Open Sans', Helvetica, Arial, sans-serif;

}

a {
    color: $secondary;
}

h1, h2, h3, h4, h5, h6 { 
    font-family: 'Sanchez', 'Times New Roman', Times, serif;
    font-weight: 600;
}

.navbar {
    padding: 1rem 1rem;
    box-shadow: 0 4px 4px #5d2525;
    z-index: 10;

    .container {
        max-width: 1140px;  // Match the main container width
        margin: 0 auto;     // Center on the page
        position: relative; // Helps position the absolute search box

        .navbar-search {
            position: absolute;
            left: 0;

            #searchform {
                
                #s {
                    font-size: 1rem;
                }

                .input-group .input-group-append #searchsubmit {
                    font-size: 1rem;
                }
            }

            
        }
    }
}

.widget {
    background-color: #fff;
    margin-bottom: 45px;
    // border: 1px solid $gray;
    padding: 15px;
    border-bottom: 2px solid #deacb6;
}

article {
    padding: 25px 10px;
}

.complete {
    font-weight: 700;
    color: green;
}

.response {
    display: block;
}

.success {
    font-weight: 700;
    color: green;
}

.error {
    font-weight: 700;
    color: red;
}

.user-message {
    padding: 25px;

    &.logged-in {
       text-align: center;
    }
    
    #acct-cta {
        text-align: center;
        padding: 15px 0;

        a {
            font-size: 24px;
        }
    }
}

.logged-out {
    background-color: rgba(205,92,92,0.25);
    text-align: left;
}

// Bump the main container up in to the hero only on the landing page
// .home-only {
//     background-color: #fff !important;
// }

#wrapper-hero {
    position: relative;

    .row {
        margin: 0 !important;
    }

    .search {
        position: absolute;
        left: 0;
        bottom: 100px;
        width: 100%;

        #searchform {
            #s {
                font-size: 32px;
            }

            #searchsubmit {
                font-size: 32px;
            }
            
        }
    }
}

.site-main {
   .container {
       background-color: #fff !important;
       margin-top: 15px;
       margin-bottom: 15px;
   }

   .about > * {
       padding: 0;
       margin: 0 !important;
   }

   .wp-block-cover {
       margin: 0 !important;
   }

}

.content-area {
    background-color: #fff;
}

// #wrapper-hero > #searchform {
//     #s {
//         line-height: 36px;
//         font-size: 38px;
//     }

//     #searchsubmit {
//         font-size: 28px;
//     }
    
// }

.headline {

    a {
        color: $primary !important;
    }

}

.heading {
    text-align: center;
}

.categories {
    padding: 25px 10px;
}

.header, .entry-meta {
           
    .type {
        display: block;
        margin-top: -7px;
        margin-bottom: 10px;

        .text {
            display: inline;
            background-color: #b9b9b9;
            padding: 0 5px;
            border-radius: 3px;
        }
    }
}

.posted-on { display: block; }

.wp-block-quote {
    margin: 15px auto;
    width: 65%;
    font-size: 22px;
    background-color: #ededed;
    padding: 1rem;
}

.cat-block, .new-request-block, .special-block {
    .well {
        padding: 10px;
        height: 100%;

        span {
            display: block;
        }
    }
}

.new-request-block {
    padding: 25px 10px;

    .well {
        position: relative;
        min-height: 300px;

    }
    .understrap-read-more-link {
        display: block;
        position: absolute;
        bottom: 25px;
    }
}

table {border:0; border-collapse:separate; border-spacing:0 5px;}
thead tr th{border-bottom: 1px solid black; border-collapse:separate; border-spacing:5px 5px;}

#user-community-ads table {
    text-align:left;
    font-size:16px;
}

#request-item-btn {
    background-color: $secondary;
    color: #fff;
    padding: 5px 10px;
}

.btn-outline {
    border: 1px solid $gray;
}

#wrapper-footer-full {
    background-color: $gray;

    p {
        color: #fff;
    }
}

// Clean up Gravity Forms by extending Bootstrap classes
.gform_fields {
  @extend .list-unstyled;
  @extend .row;
 
  input, select, textarea {
    @extend .form-control;
  }
 
  textarea {
    height: auto;
  }
 
}
 
.gfield_description {
  @extend .alert;
}
 
.validation_error {
  @extend .alert;
  @extend .alert-danger;
}
 
.validation_message {
  @extend .alert;
  @extend .alert-success;
}
 
.gform_button {
  @extend .btn;
}
 
.gfield_required {
  color: red;
}
 
.gform_wrapper ul.gfield_radio li, .gform_wrapper ul.gfield_checkbox li {
  @extend .form-check;
}
 
.gform_validation_container {
  display: none;
}
 
.gfield_error .ginput_container {
  margin-bottom: 10px;
}

// Add a margin to the bottom of the financial contribution box
#confirmation-select {
    margin-bottom: 10px;
}

// TODO: Searchform breakpoints